:root {
  --first-color: #3b939b;
  --second-color: #2f8189;
  --third-color: #91f3fc;
  --fourth-color: #c9fbff;
  --header-font: "Philosopher", sans-serif;
  --body-font: "Mulish", sans-serif;
}

body {
  background: var(--second-color);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url("../images/floating-city.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--third-color);
  text-align: center;
  padding: 260px 0;
}

h1,
h2,
h3 {
  font-family: var(--header-font);
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
}

header a {
  font-family: var(--body-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  padding: 16px 32px;

  margin-top: 32px;
  display: inline-block;
  text-decoration: none;

  background: var(--third-color);
  border-radius: 10px;
  border: var(--second-color);
}

@media (max-width: 800px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 36px;
  }
  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 16px;
  }
  header a {
    font-size: 10px;
    padding: 6px, 12px;
  }
}
