:root {
  --first-color: #3b939b;
  --second-color: #2f8189;
  --third-color: #91f3fc;
  --fourth-color: #c9fbff;
  --header-font: "Philosopher", sans-serif;
  --body-font: "Mulish", sans-serif;
}

body {
  background: var(--second-color);
  font-family: var(--body-font);
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-gap: 64px;
}

.grid-2-clmn {
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.grid-3-clmn-fst-nrrw {
  grid-template-columns: 1fr 2fr 2fr;
}

.grid-3-clmn {
  grid-template-columns: repeat(3, 1fr);
}

.text-center {
  text-align: center;
}

.card {
  background-color: white;
  color: var(--second-color);
  margin: 30px 0;
}

.card-header.grid {
  grid-gap: 0;
}

.embed {
  width: 100%;
  aspect-ratio: 1/1;
}

.card-body {
  padding: 30px;
}

.card-footer {
  padding: 0 30px 30px;
}

.btn {
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px 32px;
  gap: 10px;
  text-decoration: none;
  color: white;
  background-color: var(--second-color);
}

section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}

section.secondary {
  background-color: var(--fourth-color);
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
    url("../images/floating-city.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: var(--third-color);
  text-align: center;
  padding: 260px 0;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--header-font);
}

header h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
  margin: 30px 0;
}

header h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
}

header a {
  font-family: var(--body-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  padding: 16px 32px;

  margin-top: 32px;
  display: inline-block;
  text-decoration: none;

  background: var(--third-color);
  border-radius: 10px;
  border: var(--second-color);
}

main {
  background-color: var(--third-color);
}

main h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  color: var(--second-color);
  opacity: 0.7;
  text-transform: uppercase;
  margin: 0 auto;
}

main h3 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 1.25;
  color: var(--second-color);
  margin: 0 auto;
}

main p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--second-color);
  opacity: 0.9;
}

#coast {
  display: flex;
  width: 100%;
  height: 550px;
  object-fit: cover;
}

main h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 1;
  margin: 0 auto;
}

main h5 {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  line-height: 20px;
  margin: 0 auto;
}

.card p {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.7;
}

footer {
  color: var(--fourth-color);
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/resort.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.8;
}

footer ul {
  padding: 0;
  opacity: 0.8;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: var(--fourth-color);
  text-decoration: none;
}

footer a:hover {
  color: white;
}

.img-responsive {
  display: block;
  max-width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

@media (max-width: 960px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 36px;
  }
  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 16px;
  }
  header a {
    font-size: 10px;
    padding: 6px, 12px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  section {
    padding: 30px;
  }
  .card-header img {
    display: none;
  }
  .embed {
    aspect-ratio: 16/9;
  }
  footer h3 {
    font-weight: 700;
    font-size: 10px;
    line-height: 1.5;
  }

  footer p {
    font-weight: 400;
    font-size: 8px;
    line-height: 1.5;
    opacity: 0.8;
  }
  footer ul {
    margin-top: 0;
    padding-top: 0;
  }
  footer li {
    display: inline;
    font-size: 10px;
  }
  .grid-3-clmn-fst-nrrw {
    grid-template-columns: 1fr 2fr 2fr;
  }
}
